

# Server
PORT=8080
NODE_ENV=local

# Database
DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_NAME=
DB_PORT=
DB_TYPE=mysql

# JWT
JWT_SECRET="your-jwt-secret"
JWT_EXPIRES_IN="7d"

# Google OAuth
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
GOOGLE_CALLBACK_URL="http://localhost:9001/auth/google/callback" 