

# # Server
# PORT=8080
# NODE_ENV=local

# # Database
# DB_USERNAME=
# DB_PASSWORD=
# DB_HOST=
# DB_NAME=
# DB_PORT=
# DB_TYPE=mysql

# # JWT
# JWT_SECRET="your-jwt-secret"
# JWT_EXPIRES_IN="7d"

# # Google OAuth
# GOOGLE_CLIENT_ID="your-google-client-id"
# GOOGLE_CLIENT_SECRET="your-google-client-secret"
# GOOGLE_CALLBACK_URL="http://localhost:9001/auth/google/callback" 


# Server
PORT=8080
NODE_ENV=local
ADMINER_PORT=5001

# Database
DB_USERNAME=root
DB_PASSWORD=secret
DB_HOST=database
DB_NAME=nest_db
DB_PORT=3306
DB_TYPE=mysql

# JWT
JWT_SECRET="your-jwt-secret"
JWT_EXPIRES_IN="7d"

# Google OAuth
GOOGLE_CLIENT_ID="542109621113-mtu7r8lo5msai66iksdtoabqcb43nua6.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"
GOOGLE_CALLBACK_URL="http://localhost:9001/api/v1/auth/google/callback"
# Amazon OAuth
# IMPORTANT: Replace these with real values from your Amazon Developer Console
# Your app won't work with these placeholder values
AMAZON_CLIENT_ID=amzn1.application-oa2-client.1bd2aaaa57ee4c13804549379937110e
AMAZON_CLIENT_SECRET="amzn1.oa2-cs.v1.7608a35c9de814c0853f638a81835b235d4105bdb84440886f34f62e3431fdf6"
AMAZON_CALLBACK_URL="http://localhost:9001/api/v1/auth/amazon/callback"